@font-face {
  font-family: 'Rubik italic', sans-serif;
  src: url('../fonts/Rubik-Italic-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('../fonts/Rubik-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('../fonts/Rubik-Bold.ttf') format('ttf');
}
