$titlecolor: #0b132a;
$subtitleColor: #4f5665;
$redButton: #f53838;
$signButton: #f53855;
$whiteColor: #fff;
$shadowColor: 0 20px 80px -40px rgba(148, 147, 150, 0.46);
$redShadowColor: 0 10px 25px -5px #b61919;
$lightGrayColor: #ddd;
$afterLineColor: #eeeff2;
$footerBgColor: #f8f8f8;
$footerDataColor: #afb5c0;
$radioButton: #dde0e4;
$footerIconColor: 0 10px 10px 0 rgb(148, 147, 150, 0.46);
$commentShadow: 0 20px 80px -40px rgba(16, 16, 17, 0.46);
