@import '../../utils/vars.scss';
@import '../../utils/mixins.scss';

.features {
  padding-bottom: 200px;

  @include onTablet {
    padding-bottom: 100px;
  }

  &__wrap {
    margin-top: 100px;
    max-width: 450px;
    width: 100%;

    @include onTablet {
      margin-top: -100px;
      text-align: center;
    }
  }

  &__title {
    padding-bottom: 24px;
  }

  &__subtitle {
    padding-bottom: 24px;
  }

  &__list {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    color: $subtitleColor;
    font-size: 14px;
    font-family: 'Rubik-Italic-VariableFont_wght', sans-serif;
  }

  &__item {
    padding-right: 10px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include onTablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    max-width: 550px;
    width: 100%;
    height: auto;

    @include onTablet {
      margin-bottom: 150px;
    }
  }
}
